#getdata tr td{ 
line-height:30px;
border: 1px #030303;
border-style: solid;
min-width:100px;
padding: 2px 8px;
}
table {
border-collapse: collapse;

width: 100%;
margin-left: 0px;
margin-bottom: 9px;
}
table tr{}
#dialog { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}
.b-close{
    cursor: pointer;
position: absolute;
right: 13px;
top: 13px;
}

.modal-cls
{
color: red;
display: block;
margin-bottom: 10px;
margin-top: 0px;
margin-left: -2px;
font-size: x-large;
}
